.toy {
    background-color: #b52a2a;
    border: solid black;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    border: solid black;
    align-self: center;
    margin: 0px 80px;
}

.pixel {
    background-color: rgb(255, 255, 255);
}

.title {
    display: flex;
    color: gold;
    justify-content: center;
}

h1 {
    font-family: cursive;
    margin: 10px 20px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
    opacity: 80%;
}

#controls {
    margin: 10px 10px;
    display: flex;
    justify-content: space-between;
}

.dial {
    background-color: white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: dotted #b52a2a;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.controls {
    color: #b52a2a;
    background-color: gold;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.colorSelector {
    display: flex;

    margin: 10px;
    padding: 0px 20px;

    border: none;
    border-radius: 15px;

    height: 50px;
    align-self: center;
}

.colorSelector div {
    align-self: center;
}

select {
    background-color: transparent;
    color: #b52a2a;
    font-weight: bold;
    font-size: 18px;
    border: double;
    margin-left: 5px;    
}

button {
    margin: 10px;
    padding: 0px 20px;
    border: none;
    border-radius: 15px;

    height: 50px;

    align-self: center;
}

button:hover {
    color: #e42424;
}

/*FOOTER*/

.footer {
    font-size: 14px;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer div {
    align-self: center;
    margin: 0px 10px;;
}

.github-logo {
    width: 24px;
    align-self: center;
}

.github-logo:hover {
    opacity: 80%;
}